/* options.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
    width: 100px;
    text-align: right;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 350px;
}

.input-addon {
    font-size: 14px;
    color: #555;
    margin-right: 10px;
}

.input-field {
    flex: 1.5; /* 调整文本框宽度为当前长度的1.5倍 */
    padding: 8px;
    border: none;
    width: 230px;
}

.save-button {
    padding: 8px 20px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
