* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center; /* 新增：文本居中显示 */
}

.input-field {
    margin-top: 10px;
    margin-bottom: 10px; /* 修改：增加距离 */
}

.input-field textarea {
    width: 100%; /* 修改：宽度占满容器 */
    min-height: 100px; /* 新增：设置最小高度 */
    border: none;
    padding: 10px;
    border-radius: 3px;
    background-color: #f2f2f2;
    resize: vertical; /* 新增：允许垂直拖拽调整大小 */
}

.input-field button {
    display: block; /* 修改：按钮以块级元素显示 */
    margin: 10px auto 0; /* 修改：增加上边距和居中显示 */
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.input-field button:hover {
    background-color: #45a049;
}

.input-field button:disabled {
    opacity: 0.6; /* 按钮变灰的透明度 */
    cursor: not-allowed; /* 鼠标样式变为禁用样式 */
}

.settings-icon {
    position: absolute; /* 新增：设置绝对定位 */
    top: 5px; /* 新增：距离顶部位置 */
    right: 35px; /* 新增：距离右侧位置 */
    font-size: 12px;
    color: #504f4f;
    cursor: pointer;
}

.more-icon {
    position: absolute; /* 新增：设置绝对定位 */
    top: 5px; /* 新增：距离顶部位置 */
    right: 5px; /* 新增：距离右侧位置 */
    font-size: 12px;
    color: #504f4f;
    cursor: pointer;
}

.custom-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.custom-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1001;
}

.custom-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 15px 15px 5px 15px;
    z-index: 1002;
}

.custom-popup-question {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.custom-popup-close-btn {
    display: inline-block;
    padding: 5px 0;
    background-color: #FFF;
    color: #45a049;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    border-top: 1px solid #F2F2F2;
    width: 100%;
    box-sizing: border-box;
}

.custom-popup-close-btn:last-child {
    margin-right: 0;
}







